{% extends '::base.html.twig' %}

{% block content %}
    <h2>Create Address</h2>
    {{ form_start(form) }}
    <div class="form-group">
        <div class="row">
            <div class="col-md-5">
                {{ form_label(form.address) }}
                {{ form_errors(form.address) }}
                {{ form_widget(form.address, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                {{ form_label(form.city) }}
                {{ form_errors(form.city) }}
                {{ form_widget(form.city, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                {{ form_label(form.zipcode) }}
                {{ form_errors(form.zipcode) }}
                {{ form_widget(form.zipcode, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.save, {'label': 'test'}) }}
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
    </div>
    {{ form_end(form) }}
{% endblock %}