{% extends '::base.html.twig' %}

{% block content %}
    <h2>Address <small><a href="{{ path('create-address') }}"class="glyphicon glyphicon-plus"></a></small></h2>

    {% if addresses %}
        <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>Zipcode</th>
                </tr>
            </thead>
            <tbody>
                {% for address in addresses %}
                <tr>
                    <td>{{ address.id }}</td>
                    <td>{{ address.address }}</td>
                    <td>{{ address.city }}</td>
                    <td>{{ address.zipcode }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        No result.
    {% endif %}
{% endblock %}