{% extends '::base.html.twig' %}

{% block content %}
    <h2>Create Customer</h2>
    {{ form_start(form) }}
    <div class="form-group">
        <div class="row">
            <div class="col-md-5">
                {{ form_label(form.name) }}
                {{ form_errors(form.name) }}
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                {{ form_label(form.age) }}
                {{ form_errors(form.age) }}
                {{ form_widget(form.age, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                {{ form_label(form.email) }}
                {{ form_errors(form.email) }}
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                {{ form_label(form.billing) }}
                {{ form_errors(form.billing) }}
                {{ form_widget(form.billing, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                {{ form_label(form.shipping) }}
                {{ form_errors(form.shipping) }}
                {{ form_widget(form.shipping, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.save)}}
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
    </div>
    {{ form_end(form) }}
{% endblock %}