{% extends '::base.html.twig' %}

{% block content %}
    <h1>Customers <small><a href="{{ path('create-customer') }}"class="glyphicon glyphicon-plus"></a></small></h1>

    <button class="btn btn-warning get-all-customers-in-json" data-url="{{ path('get-all-customers-in-json') }}">Show Customers</button>

    <table id="customers-table" class="table table-striped table-bordered" width="100%" style="margin-top: 20px;">
        <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Billing Address</th>
            <th>Shipping Address</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td colspan="5">No result.</td>
        </tr>
        </tbody>
    </table>
{% endblock %}