{% extends '::base.html.twig' %}

{% block content %}
    <h2>Customers <small><a href="{{ path('create-customer') }}"class="glyphicon glyphicon-plus"></a></small></h2>

    {#<button class="btn btn-warning show-customers" data-url="{{ path('show-customers') }}">Show Customers</button>#}

    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Billing Address</th>
            <th>Shipping Address</th>
        </tr>
        </thead>
        <tbody>
        {% if customers %}
            {% for customer in customers %}
                <tr>
                    <td>{{ customer.name }}</td>
                    <td>{{ customer.age }}</td>
                    <td>{{ customer.email }}</td>
                    <td>
                        {% if customer.billing %}
                            {{ customer.billing.address }}
                        {% endif %}
                    </td>
                    <td>
                        {% if customer.shipping %}
                            {{ customer.shipping.address }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        {% else %}
            <tr>
                <td colspan="5">No result.</td>
            </tr>
        {% endif %}
    </table>

{% endblock %}