<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="{% if app.request.attributes.get('_route') in ['address', 'create-address'] %}active{% endif %}">
                        <a href="{{ path('address') }}">Address</a>
                    </li>
                    <li class="{% if app.request.attributes.get('_route') == 'create-customer' %}active{% endif %}">
                        <a href="{{ path('create-customer') }}">New Customer</a>
                    </li>
                    <li class="{% if app.request.attributes.get('_route') == 'customers-in-json' %}active{% endif %}">
                        <a href="{{ path('customers-in-json') }}">All Customers In Json</a>
                    </li>
                    <li class="{% if app.request.attributes.get('_route') == 'customers-in-twig' %}active{% endif %}">
                        <a href="{{ path('customers-in-twig') }}">All Customers In Twig</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>